[submodule "rust_learn/guessing_game"]
	path = rust_learn/guessing_game
	url = https://github.com/syedjawadakhtar/my_programs.git
[submodule "rust_learn/hello_world/hello_cargo"]
	path = rust_learn/hello_world/hello_cargo
	url = https://github.com/syedjawadakhtar/my_programs.git
